@model Expense_Tracker.Models.Transaction
@{
	ViewData["Title"] = "Edit Transaction";
}
<h3>Edit Transaction</h3>
<form asp-action="Edit" method="post"> 
	<input type="hidden" asp-for="TransactionId" />
	<div class="form-group">
		<label for="CategoryId">Category:</label>
		<select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
	</div>

	<div class="form-group">
		<label for="Amount">Amount:</label>
		<input type="number" class="form-control" asp-for="Amount" />
	</div>

	<div class="form-group">
		<label for="Note">Note:</label>
		<input type="text" class="form-control" asp-for="Note" />
	</div>

	<div class="form-group">
		<label for="Date">Date:</label>
		<input type="date" class="form-control" asp-for="Date" />
	</div>
	<button type="submit" class="btn btn-primary">Edit</button>
</form>