@model List<Expense_Tracker.Models.Category>
@{
	//specifying the title of the page
	ViewData["Title"] = "Categories";
}

<h3>List of Categories</h3>
<table>
	<thead>
		<tr>
			<th>Icon</th>
			<th>Title</th>			
			<th>Type</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@*font awesome uses the i class as a semantic placeholdeer for icons and that's why it's needed*@
				<td><i class="@item.Icon"></i></td>
				<td>@item.Title</td>
				<td>@item.Type</td>
				<td>
					@*here we can add edit and delete links*@

					<a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
				</td>
			</tr>
		}

	</tbody>
</table>
